<!doctype html>
<html lang="en" ng-app>
  <head>
    <title>Chat Example</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-responsive.min.css">
    <style type="text/css">
      body {
        padding-top: 60px;
      }

#popupbox{
margin: 0; 
margin-left: 10%; 
margin-right: 70%;
margin-top: 70px; 
padding-top: 10px; 
width: 20%; 
height: 170px; 
position: absolute; 
background: #FFFFFF; 
border: solid #909090 2px; 
z-index: 9; 
font-family: arial; 
visibility: hidden; 
}
</style>
<script language="JavaScript" type="text/javascript">
function login(showhide){
if(showhide == "show"){
    document.getElementById('popupbox').style.visibility="visible";
}else if(showhide == "hide"){
    document.getElementById('popupbox').style.visibility="hidden"; 
}
}


      function ChatController($scope) {
        var socket = io.connect('https://' + document.domain + ':' + location.port + '/chat');

        //var socket = io.connect();

        $scope.messages = [];
        $scope.roster = [];
        $scope.name = '';
        $scope.text = '';

        socket.on('connect', function () {
          console.log('connected');
          $scope.setName();
        });

        socket.on('message', function (msg) {
          console.log(msg);
          $scope.messages.push(msg);
          $scope.$apply();
        });

        socket.on('roster', function (names) {
          console.log("Roster update:" +JSON.stringify(names))
          $scope.roster = names;
          $scope.$apply();
        });

        $scope.send = function send() {
          console.log('Sending message:', $scope.text);
          socket.emit('message', $scope.text);
          $scope.text = '';
        };

        $scope.setName = function setName() {
          socket.emit('identify', $scope.name);
        };
        $scope.setName2 = function setName2() {
          
          socket.emit('identify', $scope.name2);
          $scope.name = $scope.name2;
          $scope.$apply();
        };

        $scope.processLogin = function processLogin() {
          console.log("Trying to log in");
          login('hide');
          socket.emit('login', $scope.password);
        };



      }
    </script>
  </head>
  <body onload="javascript:login('show')">
    

    
    
    
    
    
    <div class="container" ng-controller="ChatController">
      
      
          <div id="popupbox"> 
<form ng-submit="processLogin()">
<center>Username:</center>
<center><input type="text"  ng-model="name2" ng-change="setName2()" placeholder="Username" size="14" /></center>
<center>Password:</center>
<center><input  ng-model="password" type="password" size="14" /></center>
<center><input type="submit" class="span1 btn btn-primary" value="Send" ng-disabled="!password"></center>

</form>
<br />

</div> 

      
      
      
      
      
      
      
      
      <div class="navbar navbar-fixed-top navbar-inverse">
        <div class="navbar-inner">
          <div class="pull-right">
            <a href="https://c9.io" class="brand">Cloud9 IDE</a>
          </div>
        </div>
      </div>
      <div class="page-header">
        <h1>Chat Example</h1>
      </div>
      <div class="row">
        <div class="span3">
          <ul class="nav nav-list well">
            <li class="nav-header">Local Users</li>
            <li ng-repeat="user in roster" ng-bind="user">
            </li>
          </ul>
          
        </div>
        <div class="span9">
          <table class="table table-striped table-bordered">
            <thead>
              <tr>
                <th class="span2">Name</th>
                <th class="span7">Text</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="msg in messages">
                <td class="span2" ng-bind="msg.name"></td>
                <td class="span7" ng-bind="msg.text"></td>
              </tr>
            </tbody>
          </table>
          <div class="row controls">
            <form ng-submit="send()">
              <div class="span2" ><input type="text" class="input-block-level" ng-model="name" readonly="readonly" placeholder="Your Name"></div>
              <div class="input-append span7">
                <input type="text" class="span6" ng-model="text" placeholder="Message">
                <input type="submit" class="span1 btn btn-primary" value="Send" ng-disabled="!text">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/angular.min.js"></script>
  </body>
</html>
